$primary-text: #021c3d;
$secondary-text: #00080a;
$tertiary-bg: #f9fcff;
$button-bg: #003340;
$border-color: #003340;

.featured__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  margin-top: 81px;
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    padding: 0 50px;
  }

  .featured__head {
    .featured__title {
      color: $primary-text;
      font-size: 32px;
      line-height: 140%;
      letter-spacing: 2%;

      @media screen and (min-width: 768px) {
        font-size: 40px;
        line-height: 180%;
      }
    }

    .featured__description {
      color: $secondary-text;
      font-size: 16px;
      line-height: 32px;
      text-align: center;
      max-width: 100%;

      @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 40px;
        max-width: 800px;
        margin: 0 auto;
      }
    }
  }

  .featured__cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 37px;
    }

    .featured__card {
      gap: 10px;
      border: 1px solid #d9d9d9;
      background-color: $tertiary-bg;
      width: 100%;
      padding: 15px;

      @media screen and (min-width: 768px) {
        padding: 20px;
      }

      img.featured__card__image {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      .featured__card__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin: 18px 0;
        text-align: left;

        @media screen and (min-width: 768px) {
          margin: 18px 38px;
        }

        .featured__card__info__badge {
          background-color: $button-bg;
          width: 100%;
          max-width: 185px;
          padding: 0 20px;
          height: 35px;
          display: flex;
          align-items: center;
          color: white;
          gap: 10px;

          .totalLessons {
            font-size: 14px;
            line-height: 180%;
            letter-spacing: 2%;
          }
        }

        .featured__card__info__title {
          .featured__card__info__title__text {
            font-size: 18px;
            line-height: 130%;
            color: $secondary-text;

            @media screen and (min-width: 768px) {
              font-size: 20px;
            }
          }

          .featured__card__info__title__description {
            font-size: 14px;
            line-height: 150%;
            color: $secondary-text;

            @media screen and (min-width: 768px) {
              font-size: 16px;
            }
          }

          .featured__card__info__title__button {
            color: $secondary-text;
            border: none;
            background-color: transparent;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 14px;
            border-bottom: 2px solid $border-color;
            padding-bottom: 5px;
            margin-top: 30px;
            cursor: pointer;
            transition: all 0.3s ease;

            @media screen and (min-width: 768px) {
              font-size: 16px;
              margin-top: 50px;
            }

            &:hover {
              color: $button-bg;
              transform: translateX(5px);

              .featured__card__info__title__button__icon {
                transform: translateX(5px);
              }
            }

            .featured__card__info__title__button__icon {
              transition: transform 0.3s ease;
            }
          }
        }
      }
    }
  }
}
