$primary-text: #021c3d;
$secondary-text: #00080a;
$tertiary-bg: #f9fcff;
$button-bg: #003340;
$border-color: #003340;

.featured__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  margin-top: 81px;
  padding: 0 50px;

  .featured__head {
    .featured__title {
      color: $primary-text;
      font-size: 40px;
      line-height: 180%;
      letter-spacing: 2%;
    }

    .featured__description {
      color: $secondary-text;
      font-size: 20px;
      line-height: 40px;
      text-align: center;
    }
  }
  .featured__cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 37px;

    .featured__card {
      gap: 10px;
      border: 1px solid #d9d9d9;
      background-color: $tertiary-bg;
      max-width: 425px;
      padding: 20px;

      img.featured__card__image {
        width: 100%;
        height: auto;
        max-width: 384px !important;

        @media screen and (min-width: 768px) {
          width: 384px;
          height: auto;
        }
      }

      .featured__card__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-left: 38px;
        margin-right: 38px;
        margin-top: 18px;
        text-align: left;

        .featured__card__info__badge {
          background-color: $button-bg;
          width: 185px;
          padding: 0 30px;
          height: 35px;
          display: flex;
          align-items: center;
          color: white;
          gap: 10px;

          .totalLessons {
            font-size: 14px;
            line-height: 180%;
            letter-spacing: 2%;
          }
        }

        .featured__card__info__title {
          .featured__card__info__title__text {
            font-size: 20px;
            line-height: 130%;
            color: $secondary-text
          }

          .featured__card__info__title__description {
            font-size: 16px;
            line-height: 150%;
            color: $secondary-text;
          }

          .featured__card__info__title__button {
            color: $secondary-text;
            border: none;
            background-color: transparent;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            border-bottom: 2px solid $border-color;
            padding-bottom: 5px;
            margin-top: 50px;
          }
        }
      }
    }

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
